.menu-nav__item, .hotel-tittle, .hotel-text, .tittle, .overview__text {
  font-family: 'Roboto', sans-serif; }

.main-tittle, .overview__tittle {
  font-family: 'Playfair Display', serif; }

.container {
  margin: 0 auto; }

* {
  box-sizing: border-box;
  color: #000;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none; }

.container {
  max-width: 100%; }

.main-tittle {
  display: flex;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 47px;
  padding-bottom: 3.512%;
  padding-top: 4.1%; }

.menu-nav__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3.2%;
  margin-left: 11.3%;
  margin-right: 9.3%; }

.menu-nav__item {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 18px;
  margin-right: 5%; }
  .menu-nav__item:hover {
    color: #000;
    font-weight: bold;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }

.hotel {
  background: url("img/bg-main.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  min-height: 464px; }

.gallery-img {
  border: 1px solid #ff7931;
  border-radius: 50%;
  background-color: #ff7931;
  margin-top: 3.1%;
  padding: 15px;
  width: 55px;
  height: 55px; }

.hotel-tittle {
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  margin: 2.3% 0 9.6%; }

.hotel-text {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  width: 35%;
  min-height: 64px;
  vertical-align: top;
  text-indent: 14px;
  margin-bottom: 3.5%; }

.tittle {
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 20px;
  margin-top: 3%;
  margin-bottom: 1.5%;
  display: flex;
  justify-content: center; }

.overview {
  display: flex;
  justify-content: center;
  margin-left: 9.5%;
  margin-right: 9.5%;
  margin-bottom: 6%; }

.overview__item {
  display: flex;
  flex-direction: column;
  width: 34.6%; }

.overview__item:nth-child(2) {
  margin-right: 29px;
  margin-left: 29px; }

.overview__tittle {
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  display: inline-block;
  max-width: 100%;
  margin: 20px 0 11px; }

.overview__image {
  width: 100%;
  display: inline-block; }

.overview__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  max-width: 100%;
  display: inline-block; }

@media screen and (max-width: 1024px) {
  .menu-nav__list {
    max-width: 70%; }

  .menu-nav__item {
    margin-right: 1.5%; }

  .hotel-text {
    width: 50%; } }
@media screen and (max-width: 768px) {
  .menu-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 4%;
    max-width: 90%; }

  .menu-nav__item {
    margin-right: 7%;
    margin-bottom: 2%; }

  .hotel-text {
    width: 70%; } }
@media screen and (max-width: 414px) {
  .overview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center; }

  .hotel-tittle {
    font-size: 56px; }

  .overview__item {
    width: 110%;
    margin-bottom: 8%; } }
@media screen and (max-width: 340px) {
  .main-tittle {
    font-size: 30px; }

  .menu-nav__item {
    font-size: 10px;
    margin-left: 5%;
    margin-right: 2%; }

  .hotel-tittle {
    font-size: 47px; }

  .hotel-text {
    width: 96%; }

  .overview__tittle {
    font-size: 18px; } }

/*# sourceMappingURL=style.css.map */
