%roboto-font {
  font-family: 'Roboto', sans-serif;
}

%play-font {
  font-family: 'Playfair Display', serif;
}

%margin {
  margin: 0 auto;
}

$accent: #ff7931;
$gray: #e5e5e5;
$max-width: 1440px;


* {
  box-sizing: border-box;
  color: #000;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


.container {
  @extend %margin;
  max-width: 100%;
}

.main-tittle {
  @extend %play-font;
  @extend %margin;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 47px;
  max-width: 28.5%;
  padding-bottom: 3.512%;
  padding-top: 4.1%;
}

.menu-nav__list {
  display: flex;
 justify-content: space-around;
  margin-bottom: 3.2%;
  margin-left: 11.3%;
  margin-right: 9.3%;
}

.menu-nav__item {
  @extend %roboto-font;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 18px;
  margin-right: 5%;

  &:hover {
    color: #000;
    font-weight: bold;
    text-shadow: 0 4px 4px rgba(#000, 0.25);
  }
}

.hotel {
  background: url('img/bg-main.jpg') no-repeat center center;
  background-size: cover;
  min-height: 464px;
}




